.death-msg {
	width: 500px;
	border: 1px solid #fff;
	transition: 0.3s ease-out;
	/*box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);*/
	filter: blur(0);
	transform: scale(1);
	opacity: 1;
	visibility: visible;
	z-index: 9999;

}

.death-msg-off {
	opacity: 0;
	visibility: hidden;
	filter: blur(8px);
	transform: scale(0.33);
	box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);

}